@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/static/Montserrat-Regular.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

body {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/images/fundo.png');
}

