* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

body {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/fundo.png');
}

.dv-apresentacao {
    display: flex;
    padding-top: 20px;
}

.dv-foto {
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

.foto-eu {
    margin: 70px 30px;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.dv-desc {
    width: 55%;
    display: flex;
    justify-content: flex-start;
}

.sobre-mim {
    position: relative;
    margin: 70px 30px;
    background-color: #f2b461;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    color: white;
    font-size: 26px;
    padding: 30px;
}

.sobre-mim-2 {
    position: absolute;
    bottom: -160px;
    right: -75px;
    padding: 25px;
    background-color: #7f77c4;
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

.dv-skills {
    position: relative;
    padding-top: 50px;
}

.titulo-skills {
    font-size: 2em;
    margin-left: 30px;
    color: #7f77c4;
}

.skills {
    width: 600px;
    height: 400px;
    margin: 50px 100px;
    background-color: #f2b461;
    padding: 30px;
    border-radius: 10px;
    color: white;
    font-size: 26px;
}

.skills-2 {
    width: 600px;
    height: 400px;
    margin: 50px 500px;
    padding: 25px;
    background-color: #7f77c4;
    border-radius: 10px;
    color: white;
    font-size: 26px;
}


/* a partir do momento que fica menor que o tamanho do container, já mudar pro modo mobi */
